{% extends 'base.html' %}
{% load static %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      const card = (data) => `
        
      <a href="/marine/single/${data.pk}/" class="group">
        <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
          <img src="${data.fields.photo_url}" alt="${data.fields.description}." class="h-full w-full object-cover object-center group-hover:opacity-75">
        </div>
        <h3 class="mt-4 text-sm text-gray-700">${data.fields.title}</h3>
        <p class="mt-1 text-lg font-medium text-gray-900">$${data.fields.price}</p>
      </a>
        `
      const addCard = (data) => {
        return $('#items').append(card(data))
      }

      const removeCard = (item) => {
        $(`#${item.pk}`).click(function () {
          $.ajax({
            url: `/marine/delete/${item.pk}`,
            type: 'DELETE',
            success: function (response) {
              $(`#${item.pk}-card`).remove()
            },
          })
        })
      }

      $.get('/marine/json', function (todo) {
        todo.map((task) => {
          addCard(task)
          removeCard(task)
        })
      })
    })
  </script>

<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->

<div class="bg-white">
    <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <h2 class="sr-only">Products</h2>
  
      <div id="items" class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
        
        
  
        <!-- More products... -->
      </div>
    </div>
  </div>

  
{% endblock content %}