{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="text-gray-700 body-font overflow-hidden bg-white">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="ecommerce" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" src="{{item.photo_url}}">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">FISH NAME</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{item.title}}</h1>
          <p class="leading-relaxed">{{item.description}}</p>
          <p>Contact name: {{item.contact_name}}</p>
          <p>Contact number: {{item.contact_number}}</p>
          <div class="flex">
            <span class="title-font font-medium text-2xl text-gray-900">Rp{{item.price}}</span>
          </div>
          {% if user.is_superuser %}
          <button class="flex ml-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"><a href="{% url 'marine:delete' item.pk %}">Delete item</a></button>
          {% endif %}
        </div>
      </div>
    </div>
  </section>


{% endblock content %}