{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		{% block meta %}

		{% endblock meta %}
	</head>

	<body>
		<div class="relative">
			{% if messages %}
				<div id="message" class="absolute top-16 right-4">
					{% for message in messages %}
						{% if message.tags == 'success' %}
							<div class="mt-10 mr-2 flex items-center rounded-lg bg-green-500 border-l-4 border-green-700 py-2 px-3 shadow-md transition ease-in-out hover:scale-110">
								<div class="text-green-500 rounded-full bg-white mr-3">
									<svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
									</svg>
								</div>
								<div class="text-white max-w-xs mr-2">
									{{ message }}
								</div>
							</div>
						{% else %}
							<div class="mt-4 ml-2 flex w-70 bg-red-500 items-center rounded-lg border-l-4 border-red-700 py-2 px-3 shadow-md transition ease-in-out hover:scale-110">
								<div class="text-red-500 rounded-full bg-white mr-3">
									<svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
										<path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
									</svg>
								</div>
								<div class="text-white max-w-xs mr-2">
									{{ message }}
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
			<nav id="navbar" class="sticky top-0 py-3 px-6 xl:px-60 bg-emerald-400 flex justify-center">
				<div class="w-full lg:w-11/12 xl:w-full flex justify-between items-center">
					<a href="/">
						<h1 class="text-white text-3xl font-extrabold">
							[APP_NAME]
						</h1>
					</a>
					<button type="button" onclick="openMenu()" class="xl:hidden">
						<?xml version="1.0" ?><svg fill="none" height="40" viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H20M4 12H20M4 18H20" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
					</button>
					<div class="hidden xl:flex">
						{% if last_login %}
							<div>
								<a href="/authentication/logout">
									<h1 class="text-xl font-bold text-white">
										Logout
									</h1>
								</a>
							</div>
						{% else %}
							<div>
								<a href="/authentication/login">
									<h1 class="text-xl font-bold text-white">
										Login
									</h1>
								</a>
							</div>
							<div class="ml-8">
								<a href="/authentication/register">
									<h1 class="text-xl font-bold text-white">
										Register
									</h1>
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			</nav>
			<div id="drawer" class="fixed inset-y-0 right-[-100vw] z-40 h-screen w-[100vw] backdrop-blur-md bg-white/30 duration-300">
				<div class="lg:w-11/12 mt-3 mx-6 xl:mx-60 flex justify-between">
					<div></div>
					<button type="button" class="transition ease-in-out hover:scale-110" onclick="closeMenu()">
						<?xml version="1.0" ?><svg viewBox="0 0 30 30" height="40" width="40" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g></svg>
					</button>
				</div>
				<div class="ml-20 xl:ml-60 mt-20 mr-6 xl:mr-60">
					{% if last_login %}
						<div>
							<a href="/authentication/logout">
								<h1 class="text-3xl font-bold text-emerald-400">
									Logout
								</h1>
							</a>
						</div>
					{% else %}
						<div>
							<a href="/authentication/login">
								<h1 class="text-3xl font-bold text-emerald-400">
									Login
								</h1>
							</a>
						</div>
						<div class="mt-6">
							<a href="/authentication/register">
								<h1 class="text-3xl font-bold text-emerald-400">
									Register
								</h1>
							</a>
						</div>
					{% endif %}
				</div>
			</div>
			{% block content %}
	
			{% endblock content %}
		</div>
	</body>
	
	<script src="{% static 'base.js' %}" charset="utf-8"></script>
</html>