{% extends 'base.html' %}

{% block content %}

{% for place in place %}
<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="https://korporat.ancol.com/fm/app/public/WhatsApp%20Image%202019-06-13%20at%2008.11.14.jpeg" alt="Sunset in the mountains">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">{{place.name}}</div>
      <p class="text-gray-700 text-base">
        {{place.description}}
      </p>
    </div>
    <div class="px-6 pt-4 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{place.price}}
    </span>
      
    </div>
  </div>
  
  
{% endfor %}



{% endblock content %}